<!DOCTYPE html>
<html>
<head>
  <title>DataEngineering</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="flash">
    <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == 'notice' ? 'success' : 'error' %>">
      <%= content_tag :div, msg, id: "flash_#{name}" if msg %>
    </div>
    <% end %>
  </div>

  <div id="main_content">
    <%= yield %>
  </div>

</body>
</html>
